{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="mainbox">
        <h1>WePlace</h1>
        <section class="menufloat">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'map' %}">Map</a></li>
                    <li><a class="now" href="{% url 'review' %}">Review</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="login" href="{% url 'logout' %}">LogOut</a></li>
                     {% else %}
                     <li><a class="login" href="{% url 'login' %}">LogIn</a></li>
                     {% endif %}
                    
                </ul>
            </nav>
        </section>
        
        <section class="photo">
            <p class="photoinfo">홈페이지 소개 사진</p>
        </section>

        <section class="locationfloat">
            <p class="recommendtitle">오늘의 추천 장소</p>
            {% for post in posts %}
            <div class="location"">
                <div class="locationphoto">
                    <p class="reviewtitle"><a href="{% url 'postdetail' post.id %}">
                        {{ post.title }}
                    </a></p>
                </div>
            </div>
            {% endfor %}
        </section>

        
    </div>
    
</body>
</html>